{
  "presets": [
    "es2015-node5",
    "react",
    "stage-1",
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            ["styled-jsx-plugin-sass", {
                "sassOptions": {
                  "includePaths": ["./components"],
                  "precision": 10
                }
              }
            ]
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./"],
        "alias": {
          "components": "./components"
        }
      }
    ]
  ]
}
